*{
    margin: 0;
    background-color: #252222;
    color: #FCEFBD;
    font-family: "Corben", serif;
}

#barra{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 12vh;
}

#barra a{
    font-size: 22px;
    text-decoration: none;
}

#barra ul{
    display: none;
}

.spc{
    margin-left: 3%;
    margin-right: 3%;
    font-size: 27px;    
}

#principal{
    margin-left: 25%;
}

#texto{
    color: white;
}

h1{
    padding-top: 7%;
    font-size: 60px;
}

h2{
   padding-top: 4%;
    color: white;
}

@media (max-width:500px){
    body{
        width: 400px;
    }

    #principal{
        margin-left: 5%;
        margin-right: 2%;
       text-align: justify;
    }

    h2{
        padding-top: 7%;
    }
}